<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Include_Chaining_proj2</display-name>
  <welcome-file-list>
    <welcome-file>product.html</welcome-file>
  </welcome-file-list>
   <servlet-mapping>
  <servlet-name>firstser</servlet-name>
  <url-pattern>/fs</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>firstser</servlet-name>
  <servlet-class>org.btm.IncludeApp.FirstServlet</servlet-class>
  </servlet>
    <servlet-mapping>
  <servlet-name>secondtser</servlet-name>
  <url-pattern>/cc</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>secondtser</servlet-name>
  <servlet-class>org.btm.IncludeApp.SecondServlet</servlet-class>
  </servlet>
</web-app>